---
# tasks file for {{ role_name }}

- name: Set facts block for {{ role_name }}
  block:
    - name: Pre-set facts hook for {{ role_name }}
      ansible.builtin.import_tasks: pre_set_facts.yml

    - name: Set facts for {{ role_name }}
      ansible.builtin.import_role:
        name: shawly.compose_artificer
        tasks_from: set_facts

    - name: Post-set facts hook for {{ role_name }}
      ansible.builtin.import_tasks: post_set_facts.yml
  tags:
    - {{ role_name }}_migrate
    - {{ role_name }}_install
    - {{ role_name }}_run

- name: Migrate block for {{ role_name }}
  block:
    - name: Pre-migrate hook for {{ role_name }}
      ansible.builtin.import_tasks: pre_migrate.yml

    - name: Migrate data from old location for {{ role_name }}
      ansible.builtin.import_role:
        name: shawly.compose_artificer
        tasks_from: migrate

    - name: Post-migrate hook for {{ role_name }}
      ansible.builtin.import_tasks: post_migrate.yml
  when: {{ role_name }}_migrate_dir is defined
  tags:
    - {{ role_name }}_migrate

- name: Install block for {{ role_name }}
  block:
    - name: Pre-install hook for {{ role_name }}
      ansible.builtin.import_tasks: pre_install.yml

    - name: Install files for {{ role_name }}
      ansible.builtin.import_role:
        name: shawly.compose_artificer
        tasks_from: install

    - name: Post-install hook for {{ role_name }}
      ansible.builtin.import_tasks: post_install.yml
  tags:
    - {{ role_name }}_install

- name: Run block for {{ role_name }}
  block:
    - name: Pre-run hook for {{ role_name }}
      ansible.builtin.import_tasks: pre_run.yml

    - name: Run services for {{ role_name }}
      ansible.builtin.import_role:
        name: shawly.compose_artificer
        tasks_from: run

    - name: Post-run hook for {{ role_name }}
      ansible.builtin.import_tasks: post_run.yml
  tags:
    - {{ role_name }}_run
