---
# defaults file for {{ role_name }}

{{ role_name }}_compose_project_name: {{ role_name }}
{{ role_name }}_compose_project_dirs: {}

{{ role_name }}_systemd_healthcheck_timer: daily

{{ role_name }}_traefik_subdomain: {{ role_name }}
{{ role_name }}_traefik_port: 80
