---
# handlers file for {{ role_name }}

- name: Restart services
  become: true
  community.docker.docker_compose:
    project_src: "{{ '{{ ' ~ role_name ~ '_install_dir.dir }}' }}/"
    restarted: true
  when: not _docker_compose.changed
