---
# vars file for {{ role_name }}

{{ role_name }}_default_compose_project_dirs: {}

{{ role_name }}_unraid_description: A brief description of the role goes here.
# {{ role_name }}_unraid_webui: https://{{ '{{ ' ~ role_name ~ '_traefik_subdomain }}' }}.{{ '{{ ' ~ role_name ~ '_traefik_domain }}' }}
# {{ role_name }}_unraid_icon: /override/icon/path/icon.png
# {{ role_name }}_unraid_shell: sh
